@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Cormorant+Garamond:ital,wght@1,700&family=PT+Sans&display=swap');
:root{
    --dark:#2b2d42;
    --light:#adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}
.container{
    max-width: 1024px;
    margin: auto;
}
.nav-brand{
    font-size: 1.5rem;
    font-weight: bold;
}
#d-flex{
  display: flex;
  flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.border-shadow{
    border: 1px solid var(--border-btn);
}
.text-dark{
    color: var(--dark);
}
.inline{
    display: inline-block;
}
.text-light{
    color: var(--light);
}
.text-gradient{
    background: linear-gradient(to right,#8e2dde,#011b35);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#header nav{
    background-color: #b9d08b;
}
#header{
    background-color: #b9d08b;
    padding: 1em 0;
    width: 100%;
}
#site-main{
     margin-top: 6em;
     font-family: 'Barlow', sans-serif;
}
#site-main .contaniner .box-nav>a{
    font-size: 1em;
    padding: 5em 1em;
}
#site-main.container form{
    margin: 2em 0;
}
table{
    border-spacing: 0px;
    width: 100%;
}
 td,th{
     padding: .75em;
     vertical-align: top;
     text-align: center;
     border-top: 1px solid var(--border);
}
td >a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0.2em;
}

tr:hover{
    background-color: #b9d08b;
}
tr:hover >td>a{
    box-shadow: none;
}
thead{
    color: #fff;
    background-color: var(--dark);
    border-color: var(#32383e);
}
h6{
    font-weight: bold;
}
@media only screen and(max-width:1024px){
    table,thead,tbody,th,td,tr{
        display: block;
    }
    thead>tr{
        position: relative;
        top: -9999px;
        left: -9999px;
    }
    td{
        border: none;
        border-bottom:1px solid var(--border);
        
    }

}
/* add user & update user */
.form-title{
    margin-top: 2em;
}
.form-title>h2{
    padding: .5em 0;
}
.new_user{
    max-width: 786px;
    margin: auto;
}
#update-user.form-group,
#add_user.form-group
{
    margin: .4em 0;
}
#update_user, .form-group input[type="text"]
#add_user, .form-group input[type="text"]

{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow',sans-serif;
    font-size: 1em;
    border-radius: .2em;
}
#update_user, .form-group,.radio_inline
#add_user,.form-group,.radio_inline{
    margin: 1em 2em;
}
/* adding style to radio buttons */
.radio input[type="radio"]{
    position: absolute;
    opacity: 0;
}
.radio input[type="radio"] + .radio-label::before{
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;

}
.radio input[type="radio"]:checked + .radio-label:before{
    background-color: #b9d08b;
    box-shadow: inset 0 0 0 4px #e9ecef;
}
.radio input[type='radio']:focus + .radio-abel::before{
   outline: none;
   border-color:#b9d08b;
    
}
.radio input[type="radio"]:disabled + .radio-label::before{
    box-shadow: inset 0 0 0 4px #e9ecef;
    border-color: #b4b4b4;
    background: #b4b4b4; 
}
.form-group>button{
    width: 100%;
    padding: .9em 1em;
    background-color: #b9d08b;
    border: none;
    font-family:  'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin:.5em 0;

}
.form-group>button:hover{
    background-color: var(--dark);
    color: var(--border);
}