<tr>
    <td>1</td>
    <td>User</td>
    <td>example@gmail.com</td>
    <td>male</td>
    <td>Active</td>
    <td>
        <a href="#" class="btn border-shadow update">
           <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span> 
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span> 
         </a>
    </td>
</tr> 